
<table class="table table-bordered">
  <thead>
    <tr class="text-center">
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
    </tr>
  </thead>
  <tbody>
    {% for week in month_days %}
      <tr>
        {% for day, is_current_month in week %}
        <td class="{% if not is_current_month %}text-muted{% endif %}" style="height: 100px; width: 14.28%; position: relative;">
          {% if day != 0 %}
          <div style="position: absolute; top: 5px; left: 5px;">{{ day }}</div>

          {% if is_current_month %}
            {% for income_day, amount in daily_income_list %}
              {% if income_day == day %}
              <div style="position: absolute; top: 30px; left: 5px; right: 5px;" class="bg-success text-white rounded p-1">
                PLN {{ amount }}
              </div>
              {% endif %}
            {% endfor %}
          {% endif %}
          {% endif %}
        </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
