{% extends 'base/base.html' %}
{% block title %}Delete Expense - CyberFinance{% endblock title %}
{% load static %}

{% block content %}
<h1 class="mb-4">Delete Expense</h1>

<div class="alert alert-danger" role="alert">
    Are you sure you want to delete the expense "{{ expense }}"?
</div>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Confirm Delete</button>
    <a href="{% url 'expenses:detail' expense.id %}" class="btn btn-secondary">Cancel</a>
</form>

{% endblock %}
