
{% load portfolio_extras %}

<div class="card card-cyber mb-4">
    <div class="card-header bg-cyber text-neon">
        <h3 class="mb-0">PORTFOLIO SUMMARY</h3>
    </div>
    <div class="card-body bg-dark text-neon p-4">
        <h4 class="mb-4">Net Worth: {{ net_worth|format_currency }}</h4>
        
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="card bg-darker">
                    <div class="card-body text-center p-4">
                        <h5 class="mb-3">Crypto Assets</h5>
                        <h4>{{ crypto_value|format_currency }}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="card bg-darker">
                    <div class="card-body text-center p-4">
                        <h5 class="mb-3">Bank/Cash</h5>
                        <h4>{{ bank_value|format_currency }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
