{% load core_extras %}
<div class="card card-cyber mb-4">
    <div class="card-header bg-success text-white">
        <h4 class="mb-0 text-neon" data-text="PORTFOLIO SUMMARY">PORTFOLIO SUMMARY</h4>
    </div>
    <div class="card-body portfolio-summary">
        <div class="net-worth-container">
            <div class="value-label">Net Worth:</div>
            <div class="value-amount">PLN {{ net_worth|humanize_k }}</div>
        </div>
        
        <div class="assets-container">
            <div class="asset-box">
                <div class="asset-label">Crypto Assets</div>
                <div class="asset-value">PLN {{ crypto_value|humanize_k }}</div>
            </div>
            
            <div class="asset-box">
                <div class="asset-label">Bank/Cash</div>
                <div class="asset-value">PLN {{ bank_value|humanize_k }}</div>
            </div>
        </div>
    </div>
</div>
